<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Distribute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Document.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Fast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2744C31B1C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C31C1C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C31D1C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C31E1C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C31F1C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C3201C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C3211C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C3221C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C3231C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C3241C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C3251C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2744C3271C5BF82C004F62B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
